[Desktop Entry]
Name=Prototype
Comment=Prototype
Exec=python /home/pi/prototype/bitcoin.py
Icon=
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;
